@font-face{
	font-family: "Roboto";
	src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");
};

html{
	height: 100%;
}

#page {
	margin: 0;
	font-family: "Roboto";
	background-image: linear-gradient(
  180deg,
  hsl(0deg 5% 91%) 0%,
  hsl(30deg 11% 89%) 20%,
  hsl(45deg 18% 87%) 29%,
  hsl(72deg 26% 85%) 36%,
  hsl(78deg 29% 82%) 43%,
  hsl(80deg 33% 80%) 50%,
  hsl(80deg 35% 78%) 57%,
  hsl(80deg 39% 75%) 64%,
  hsl(81deg 49% 73%) 71%,
  hsl(81deg 58% 70%) 80%,
  hsl(82deg 67% 68%) 100%
	);
	min-height: 100%;
	display: grid;
	grid-template-rows: 1fr auto;
};

#game{
	max-width: 1140px;
	margin: 30px auto 0 auto;
	display: grid;
	padding-left: 5px;
	padding-right: 5px;
	align-self: start;
}

#header{
	margin-top: 30px;
	display: grid;
	grid-template-columns: 30% 55% 15%;
	grid-template-areas: "logo empty b";
	align-items: flex-end;
	justify-items: center;
}

.logo-container{
	grid-area: logo;
	box-sizing: content-box;
	width: 100%;
	height: 80px;
}

.score{
	grid-area: b;
	font-size: larger;
	font-weight: 700;
	color: #303030;
}

#game-logo{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

#birds-class{
	height: 34px;
	display: grid;
	list-style: none;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 5px;
	padding-left: 0;
	margin-bottom: 30px;
}

.bird-class-item{
	display: grid;
	background-color: #3AC086;
	text-align: center;
	padding-top: 6px;
	border-radius: 20px;
	color: white;
	font-weight: bold;
}

#guess-bird{
	max-width: 1140px;
	display: grid;
	grid-template-columns: 20% 80%;
	max-height: 180px;
	overflow: hidden;
	margin-bottom: 40px;
}

.unknown-bird-image{
	max-height: 180px;
}

#guess-bird-image{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 15px;
}

.unknown-bird{
	display: grid;
	background-color: #303030;
	border-radius: 15px;
	grid-template-rows: 40% 30%;
	padding-left: 7%;
	row-gap: 7%;
	min-height: 140px;
}

.unknown-bird-item {
	display: grid;
}

#bird-unknown-name{
	color: #EAE8E8;
}

.controls{
	display: grid;
	grid-template-columns: 30px 60%;
	column-gap: 3%;
}

#play-card, #play-unknown{
	height: 30px;
	width: 30px;
	background-color: #303030;
	border: 1px solid #3AC086;
	border-radius: 50%;
	color: #32A673;
	cursor: pointer;
}

#progress-container, #progress-container-unknown{
	display: grid;
	align-self: center;	
	width: 100%;
	height: 15%;
	border-radius: 5px;
	background-color: #EAE8E8;
	cursor: pointer;
}

#progress, #progress-unknown{
	height: 100%;
	width: 0%;
	border-radius: 5px;
	background-color: #3AC086;
	transition: width 0.3s linear;
}

#answers{
	display: grid;
	grid-template-columns: 40% 55%;
	column-gap: 5%;
	margin-bottom: 20px;
}

.answers-list{
	display: grid;
	grid-template-rows: repeat(6, 51px);
	padding-left: 0;
	row-gap: 3px;
	margin: 0;
}

.answers-item{
	display: grid;
	align-items: center;
	color: white;
	padding-left: 7%;
	border-radius: 15px;
	font-size: large;
	font-weight: 500;
	cursor: pointer;	
}

.answer-explanation{
	background-color: #303030;
	border-radius: 15px;
	display: grid;
}

.instruction{
	padding-left: 10%;
	color: white;
	display: none;
}

.bird-card{
	max-height: 200px;
	padding: 5% 0 2% 5%;
	display: grid;
	grid-template-columns: 50% 37%;
	column-gap: 6%;
}

.card-image-container{
	max-height: 200px;
}

#bird-card-image{
	height: 100%;
	width: 100%;
	border-radius: 15px;
	object-fit: cover;
}

.card-list{
	display: grid;
	grid-template-rows: repeat(2, 20%) 1fr;
	padding-left: 5px;
	row-gap: 5%;
}

.card-list-item{
	display: grid;
	color: white;
	font-size: large;
	font-weight: 500;
}

#bird-description{
	padding: 0 5% 1% 5%;
	color: white;
	font-size: medium;
	font-weight: 500;	
}

#next-level{
	height: 35px;
	border-radius: 15px;
	border: hidden;
	background-color: #303030;
	color: white;
	font-weight: 600;
}

.footer{
	grid-row-start: 2;
	grid-row-end: 3;
	box-sizing: border-box;
	max-width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 15% 67% 18%;
	grid-template-areas: "creator empty course";
	align-items: center;
}

.creator{
	grid-area: creator;
	width: 175px;
}

.creator-link{
	display: grid;
	grid-template-columns: 40px 1fr;
	column-gap: 15px;
	text-decoration: none;
	align-items: center;
}

.creator-image-container{
	height: 40px;
	width: 40px;
}

#creator-image{
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	box-shadow: 1px 8px 15px #303030;
}

.creator-name{
	font-weight: 600;
	font-size: medium;
	color: #303030;
	margin: 0;
}

.course{
	grid-area: course;
	max-width: 200px;
	height: 80px;
}

#course-icon{
	object-fit: contain;
	height: 100%;
	width: 100%;
}

@media screen and (max-width: 768px) {
	#birds-class{
		height: 73px;
		row-gap: 5px;
		grid-template-rows: 35px 35px;
		grid-template-columns: repeat(3, 33%);
	}

	#guess-bird{
		grid-template-columns: 30% 70%;
		margin-bottom: 30px;
	}

	#answers{
		grid-template-columns: 30% 67%;
		column-gap: 3%;
	}
}